.tools {
  padding: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  .column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    width: 45%;
  }
  .compareColumn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    width: 50%;
  }
  .button-div {
    width: 100%;
    display: flex;
    margin-top: 12px;
    justify-content: flex-start;
  }

  .other-column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 10%;
    padding: 8px;
    .check {
      display: flex;
      align-items: center;
      p {
        margin-left: 8px;
      }
    }
  }
}

table {
  color: black;
  width: 100%;
  text-align: left;
}
td, th{
  padding-top: 8px;
}

.lines {
  padding: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  .column {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;

    .text {
      margin-top: 48px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .line {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      color: black;
      padding: 0px 8px;
      overflow-x: auto;
      .line-number {
        width: 5%;
      }
      .line-text {
        width: 95%;
      }
    }
  }
}

.button {
  width: 200px;
  border: 1px solid #f37757;
  padding: 10px;
  border-radius: 32px;
  background-color: transparent;
  color: #f37757;
  transition: all 0.4s;
}

.button:hover {
  background-color: #f37757;
  color: white;
}

pre {
  margin: 0;
}
