.tools {
  padding: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    width: 45%;
  }
  .compareColumn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    width: 50%;
  }
  .other-column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 10%;
    padding: 8px;
    .check {
      display: flex;
      align-items: center;
      p {
        margin-left: 8px;
      }
    }
  }
}
