@import "../../../css/Global/Vars.scss";

.header {
  padding: 12px 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $red;
  .logo {
    width: 15%;
  }
  .menu {
    width: 100%;
    display: flex;
    justify-content: center;
    a {
      @extend %h4-font;
      margin: 8px;
      color: black;
    }
    a:hover,
    .active {
      color: white;
    }
  }
  .userInfo {
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    background: white;
    padding: 8px;
    border-radius: 35px;
    .info {
      margin-left: 8px;
      .name {
        h4 {
          @extend %h4-font;
          color: black;
        }
      }
      .role {
        text-align: left;
        p {
          @extend %body-font-medium;
          color: black;
        }
      }
    }
  }
}
